#remoteVideo {
    position: fixed;
    width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    margin: 0;
}

#localVideo {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 1%;
    width: 15%;
    margin-right: 20px;
}

#chatVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 1%;
    width: 30%;
    margin-right: 20px;
}

button:focus {
    outline: none;
}

.hangup {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 1%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-color: transparent;
}

.start-button {
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-group-start {
    position: absolute;
    margin-top: 290px;
    top: 0;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

.hangup > img {
    width: 50px;
}

.bg {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.start-button > img {
    width: 250px;
}

#subscription {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 2px black;
}
